@charset "UTF-8";
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.h-title {
  margin-left: 106px;
  margin: 22px 0 22px 50px;
}

.h-ul {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.h-li {
  display: flex;
  align-items: center;
}

.h-a {
  text-decoration: none;
  color: #333;
  padding: 0 1em;
}
.h-a:hover {
  border-bottom: 1px solid #333;
}

@media screen and (max-width: 768px) {
  #header {
    padding-top: 20px;
  }
  .h-title {
    margin-left: 20px;
  }
  .h-img {
    width: 140px;
  }
  .h-nav {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  #header {
    padding-top: 20px;
  }
  .h-title {
    margin: 0 0 0 20px;
  }
  .h-img {
    width: 130px;
  }
  .h-nav {
    display: none;
  }
}
/* 複数画像切り替え---------------------------------------------- */
.slider-container {
  position: relative;
  width: 100%;
  height: 600px;
  margin-top: 100px;
  overflow: hidden;
}

.slideimg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40;
  left: 0;
  opacity: 0;
  background-size: cover; /* 画像をスライド全体にカバー */
  animation: slideAnime 15s infinite; /* 15秒で1サイクル */
  -o-object-fit: contain;
     object-fit: contain;
}

@keyframes slideAnime {
  0%, 30%, 100% {
    opacity: 0;
  }
  10%, 20% {
    opacity: 1;
  }
}
/* 各スライドのアニメーションタイミングを均等にずらす */
.slideimg:nth-of-type(1) {
  background-image: url("../assets/img/fuji.jpg");
  animation-delay: 0s;
  background-position: 100%;
}

.slideimg:nth-of-type(2) {
  background-image: url("../assets/img/maiko.jpg");
  animation-delay: 3s;
  background-position: 10%;
}

.slideimg:nth-of-type(3) {
  background-image: url("../assets/img/torii.jpg");
  animation-delay: 6s;
  background-position: 0%;
}

.slideimg:nth-of-type(4) {
  background-image: url("../assets/img/fukei.jpg");
  animation-delay: 9s;
  background-position: 0%;
}

.slideimg:nth-of-type(5) {
  background-image: url("../assets/img/fukei2.jpg");
  animation-delay: 3s;
  background-position: 10%;
}

@media screen and (max-width: 425px) {
  .slider-container {
    width: 100%;
    height: 425px;
    margin-top: 100px;
  }
}
@media screen and (max-width: 768px) {
  .slider-container {
    width: 100%;
    height: 450px;
    margin-top: 140px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.section-title-contact {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
  margin: 0;
}

.contact {
  background: #000;
  color: white;
  width: 100%;
  height: 650px;
}

.c-container {
  display: flex;
  justify-content: space-between;
  margin: 0 15%;
}

.c-inner-box {
  margin: 0 auto;
}

.c-ul-txt {
  list-style: none;
  padding: 0;
}

.c-txt-box {
  padding: 0;
}

.c-txt-li {
  list-style: none;
  line-height: 50px;
}

.c-input {
  width: 500px;
  height: 30px;
  background: #fff;
  border: none;
  border-radius: 5px;
  margin: 0 0 10px 0;
}

.c-text-area {
  width: 500px;
  height: 200px;
  background: #fff;
  border: none;
  border-radius: 5px;
  margin: 0 0 10px 0;
}

.c-dd {
  margin: 0;
}

.c-btn-box {
  text-align: center;
}

.c-btn {
  background: #000;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  padding: 10px 50px;
  transition: all 1s;
}
.c-btn:hover {
  background: white;
  color: black;
  border: 1px solid #333;
}

@media screen and (max-width: 768px) {
  .c-input {
    width: 380px;
    height: 26px;
    background: #fff;
  }
  .c-text-area {
    margin: 0 0 10px 0;
    width: 380px;
    height: 200px;
  }
}
@media screen and (max-width: 425px) {
  .c-input {
    width: 260px;
    height: 26px;
    background: #fff;
  }
  .c-text-area {
    margin: 0 0 10px 0;
    width: 260px;
    height: 200px;
  }
}
@media screen and (max-width: 375px) {
  .c-input {
    width: 220px;
    height: 26px;
    background: #fff;
  }
  .c-text-area {
    margin: 0 0 10px 0;
    width: 220px;
    height: 180px;
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: #333;
  width: 100%;
  height: 20px;
}

.a-box-left {
  margin-left: 10px;
  display: flex;
  gap: 100px;
  margin-top: 100px;
}

.a-box-right {
  margin-right: 10px;
  margin-top: 100px;
  display: flex;
  flex-direction: row-reverse;
  gap: 100px;
}

.a-img {
  width: 380px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.a-title {
  font-size: 30px;
  margin: 10px 0;
}

.a-p {
  margin-top: 0;
}

@media screen and (max-width: 1024px) {
  .a-img {
    width: 290px;
    height: 210px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .a-title {
    font-size: 30px;
    margin: 0;
  }
  .a-p {
    font-size: 16px;
    margin: 0 0 50px 0;
  }
}
@media screen and (max-width: 768px) {
  .a-box-left {
    display: block;
    margin-top: 0;
    text-align: center;
  }
  .a-box-right {
    display: block;
    margin-top: 0;
    text-align: center;
  }
  .a-img {
    width: 240px;
    height: 160px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px;
    margin-top: 20px;
  }
  .a-title {
    font-size: 22px;
    margin: 10px 0 0 0;
  }
  .a-p {
    font-size: 14px;
    margin: 0 0 50px 0;
  }
}
@media screen and (max-width: 425px) {
  .a-title {
    font-size: 20px;
    margin: 10px 0 0 0;
  }
  .a-p {
    font-size: 12px;
    margin: 0 0 50px 0;
  }
}
@media screen and (max-width: 375px) {
  .a-title {
    font-size: 18px;
    margin: 10px 0 0 0;
  }
  .a-p {
    font-size: 10px;
    margin: 0 0 50px 0;
  }
}
.side-scroll {
  align-items: center;
  display: flex;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  margin: 100px 0 0 0;
}

.side-scroll ul {
  animation: flowing-right 50s linear infinite;
  font-size: 20px;
  transform: translateX(100%);
  margin: 0;
  padding: 0;
}

.side-scroll ul li {
  display: inline-block;
  padding-right: 10px;
}

.side-scroll img {
  width: 200px;
  border-radius: 20px;
}

@keyframes flowing-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.side-scroll_2 {
  align-items: center;
  display: flex;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  padding: 0 30px;
  margin-bottom: 80px;
}

.side-scroll_2 ul {
  animation: flowing-left 50s linear infinite;
  transform: translateX(100%);
  margin: 0;
  padding: 0;
}

.side-scroll_2 ul li {
  display: inline-block;
  padding-right: 10px;
}

.side-scroll_2 ul li img {
  width: 400px;
}

@keyframes flowing-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (max-width: 768px) {
  .side-scroll_2 ul li img {
    width: 300px;
  }
}
@media screen and (max-width: 375px) {
  .side-scroll_2 ul li img {
    width: 200px;
  }
}
.s-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 20%;
}

.s-img {
  margin: 0px;
  width: auto;
  height: 178px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.s-inner-box {
  margin: 0 10px;
  max-width: 300px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .s-box {
    display: block;
    margin: 0px 30%;
    text-align: center;
  }
  .s-inner-box {
    padding: 30px 0 0 0;
    max-width: 240px;
  }
  .s-img {
    width: auto;
    height: 150px;
  }
  .s-img--03 {
    width: 158px;
  }
  .s-title {
    font-size: 22px;
  }
  .s-p {
    font-size: 14px;
  }
}
@media screen and (max-width: 425px) {
  .s-box {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .s-box {
    display: block;
    margin: 0px 15%;
  }
}
/*

4K (~2560px)
p ←18px
h2 ←32px
h3 ←26px


ノーパソ　(~1440)
p ←16px
h2 ←30px
h3 ←24px


タブレット (~768)
p ←14px
h2 ←28px
h3 ←22px


モバイル（~425px）
p ←12px
h2 ←24px
h3 ←20px

モバイル（~375px）
p ←10px
h2 ←22px
h3 ←18px


// タブレット (~768)
@media screen and (max-width: 768px) {
}
// モバイル（~425px）
@media screen and (max-width: 425px) {
}
//モバイル（~375px）
@media screen and (max-width: 375px) {
}

z-index

header 100

hambuerger btn 170

hambuerger menu 1000

loading 10000







*/
html {
  scroll-behavior: smooth;
}

.l-wrapper {
  overflow: hidden;
}

.l-inner-wrppaer {
  margin: 0 10%;
  overflow: hidden;
}

section {
  background: white;
}

.section-title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 40px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .l-inner-wrppaer {
    margin: 0 10px;
    overflow: hidden;
  }
  .section-title {
    padding-top: 100px;
    padding-bottom: 40px;
    margin: 0;
  }
}
@media screen and (max-width: 425px) {
  .l-inner-wrppaer {
    margin: 0 10px;
    overflow: hidden;
  }
  .section-title {
    padding-top: 100px;
    padding-bottom: 40px;
    margin: 0;
    font-size: 24px;
  }
}
@media screen and (max-width: 375px) {
  .l-inner-wrppaer {
    margin: 0 10px;
    overflow: hidden;
  }
  .section-title {
    padding-top: 100px;
    padding-bottom: 40px;
    margin: 0;
    font-size: 22px;
  }
}
.n-inner-wrapper {
  margin: 0 10%;
}

.n-dt {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 4px;
}

.n-dd {
  font-size: 16px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .n-dt {
    font-size: 16px;
  }
  .n-dd {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .n-dt {
    font-size: 14px;
  }
  .n-dd {
    font-size: 14px;
  }
}
@media screen and (max-width: 425px) {
  .n-dt {
    font-size: 12px;
  }
  .n-dd {
    font-size: 12px;
  }
}
@media screen and (max-width: 375px) {
  .n-dt {
    font-size: 10px;
  }
  .n-dd {
    font-size: 10px;
  }
}
/* 読込中画面のスタイル */
/* 幅・高さを画面一杯、位置を固定して画面を覆う */
#loading {
  width: 100vw;
  height: 100vh;
  background-color: #bbb;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

/* 読込中のぐるぐる表示 */
#loading::before {
  content: "";
  width: 32px;
  height: 32px;
  margin: 10px auto;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 1s infinite linear;
}

@keyframes sp-anime {
  100% {
    transform: rotate(360deg);
  }
}
/*  ハンバーガーメニューのスタイル  */
.menu_btn {
  cursor: pointer;
  position: relative;
  display: block;
  border-radius: 2px;
  width: 48px;
  margin-right: 30px;
  margin-top: 4px;
}

.menu_btn span {
  position: relative;
  display: block;
  height: 32px;
}

.menu_btn:before,
.menu_btn span:before,
.menu_btn span:after {
  content: "";
  position: absolute;
  left: 6px;
  right: 6px;
  top: 50%;
  height: 2px;
  border-radius: 2px;
  margin-top: -1px;
  background-color: #333;
  transition: all 0.2s;
}

.menu_btn span:before {
  transform: translateY(-6px);
}

.menu_btn span:after {
  transform: translateY(6px);
}

/* メニューを開いた状態のハンバーガーメニューのスタイル */
.menu_btn.open:before {
  opacity: 0;
}

.menu_btn.open span:before {
  transform: translateY(0) rotate(45deg);
}

.menu_btn.open span:after {
  transform: translateY(0) rotate(-45deg);
}

/* SP-Menu */
.sp-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 170;
}

/* ナビゲーションメニューの初期状態 */
.sp-menu_nav {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
  transform: translateY(-1000px); /* 初期状態では上方向に移動させて隠しておく */
}

/* ナビゲーションメニューを開いた状態 */
.sp-menu_nav.open {
  transform: translateY(0px); /* ヘッダーの高さ分下方向に移動する */
}

/* その他のスタイル */
.sp-menu_ul {
  margin: 0;
  padding: 180px;
  display: block;
  background-color: #fff;
  height: 100%;
}

.sp-menu_li {
  margin: 0;
  padding-top: 60px;
  list-style: none;
}

.sp-menu_link {
  display: block;
  text-align: center;
  color: #333;
  text-decoration: none;
}

.sp-menu_link :hover {
  border-bottom: none;
}

@media screen and (min-width: 769px) {
  .menu_btn {
    display: none;
  }
  .sp-menu {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .sp-menu_ul {
    padding: 100px;
  }
  .sp-menu_li {
    padding-top: 70px;
  }
}/*# sourceMappingURL=home.css.map */