/*  ハンバーガーメニューのスタイル  */
.menu_btn {
  cursor: pointer;
  position: relative;
  display: block;
  border-radius: 2px;
  width: 48px;
  z-index: 180;
  margin-right: 30px;
  margin-top: 4px;
  //   position: fixed;
  //   top: 30px;
  //   right: 20px;
}
.menu_btn span {
  position: relative;
  display: block;
  height: 32px;
  z-index: 170;
}
.menu_btn:before,
.menu_btn span:before,
.menu_btn span:after {
  content: "";
  position: absolute;
  left: 6px;
  right: 6px;
  top: 50%;
  height: 2px;
  border-radius: 2px;
  margin-top: -1px;
  background-color: #333;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.menu_btn span:before {
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.menu_btn span:after {
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}

/* メニューを開いた状態のハンバーガーメニューのスタイル */
.menu_btn.open:before {
  opacity: 0;
}
.menu_btn.open span:before {
  transform: translateY(0) rotate(45deg);
}
.menu_btn.open span:after {
  transform: translateY(0) rotate(-45deg);
}

/* ヘッダーのスタイル */
.header {
  height: 50px;
  padding: 0 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ナビゲーションメニューの初期状態 */
.header_nav {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  transition: all 0.5s;
  transform: translateY(-100%); /* 初期状態では上方向に移動させて隠しておく */
}
/* ナビゲーションメニューを開いた状態 */
.header_nav.open {
  transform: translateY(50px); /* ヘッダーの高さ分下方向に移動する */
}

/* その他のスタイル */
.header_nav ul {
  margin: 0;
  padding: 0;
  display: block;
}
.header_nav ul li {
  margin: 0;
  border-bottom: 1px dotted black;
  background-color: #fff1bf;
  list-style: none;
}
.header_nav ul li a {
  display: block;
  padding: 10px 0;
  text-align: center;
}
.header_nav ul li a:hover {
  border-bottom: none;
}

// タブレット (~768)
@media screen and (min-width: 769px) {
  .menu_btn {
    display: none;
  }
}
