.a-box-left {
  margin-left: 10px;
  display: flex;
  gap: 100px;
  margin-top: 100px;
}

.a-box-right {
  margin-right: 10px;
  margin-top: 100px;
  display: flex;
  flex-direction: row-reverse;
  gap: 100px;
}

.a-img {
  width: 380px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.a-title {
  font-size: 30px;
  margin: 10px 0;
}

.a-p {
  margin-top: 0;
}

//1024px ←元々の設定
//1142px から画面崩れ

// レスポンシブ
@media screen and (max-width: 1024px) {
  //画像を小さくする
  .a-img {
    width: 290px;
    height: 210px;
    object-fit: cover;
  }

  .a-title {
    font-size: 30px;
    margin: 0;
  }

  .a-p {
    font-size: 16px;
    margin: 0 0 50px 0;
  }
}

@media screen and (max-width: 768px) {
  .a-box-left {
    display: block;
    margin-top: 0;
    text-align: center;
  }
  .a-box-right {
    display: block;
    margin-top: 0;
    text-align: center;
  }

  //画像を小さくする
  .a-img {
    // width: 280px;
    // height: 200px;
    width: 240px;
    height: 160px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 20px;
  }

  .a-title {
    font-size: 22px;
    margin: 10px 0 0 0;
  }

  .a-p {
    font-size: 14px;
    margin: 0 0 50px 0;
  }
}

@media screen and (max-width: 425px) {
  .a-title {
    font-size: 20px;
    margin: 10px 0 0 0;
  }

  .a-p {
    font-size: 12px;
    margin: 0 0 50px 0;
  }
}

@media screen and (max-width: 375px) {
  .a-title {
    font-size: 18px;
    margin: 10px 0 0 0;
  }

  .a-p {
    font-size: 10px;
    margin: 0 0 50px 0;
  }
}
