/*

4K (~2560px)
p ←18px
h2 ←32px
h3 ←26px


ノーパソ　(~1440)
p ←16px
h2 ←30px
h3 ←24px


タブレット (~768)
p ←14px
h2 ←28px
h3 ←22px


モバイル（~425px）
p ←12px
h2 ←24px
h3 ←20px

モバイル（~375px）
p ←10px
h2 ←22px
h3 ←18px


// タブレット (~768)
@media screen and (max-width: 768px) {
}
// モバイル（~425px）
@media screen and (max-width: 425px) {
}
//モバイル（~375px）
@media screen and (max-width: 375px) {
}

z-index

header 100

hambuerger btn 170

hambuerger menu 1000

loading 10000







*/

html {
  scroll-behavior: smooth; //スクロールをゆる焼にする
}

.l-wrapper {
  overflow: hidden;
}

.l-inner-wrppaer {
  margin: 0 10%;
  overflow: hidden;
}

section {
  background: #ffff;
}

.section-title {
  text-align: center;
  // margin-bottom: 50px;
  padding-top: 100px;
  padding-bottom: 40px;
  margin: 0;
}

// レスポンシブ対応

// タブレット
@media screen and (max-width: 768px) {
  .l-inner-wrppaer {
    margin: 0 10px;
    overflow: hidden;
  }

  .section-title {
    // margin-bottom: 50px;
    padding-top: 100px;
    padding-bottom: 40px;
    margin: 0;
  }
}
@media screen and (max-width: 425px) {
  .l-inner-wrppaer {
    margin: 0 10px;
    overflow: hidden;
  }
  .section-title {
    // margin-bottom: 50px;
    padding-top: 100px;
    padding-bottom: 40px;
    margin: 0;
    font-size: 24px;
  }
}
@media screen and (max-width: 375px) {
  .l-inner-wrppaer {
    margin: 0 10px;
    overflow: hidden;
  }
  .section-title {
    // margin-bottom: 50px;
    padding-top: 100px;
    padding-bottom: 40px;
    margin: 0;
    font-size: 22px;
  }
}
