.section-title-contact {
  text-align: center;
  // margin-bottom: 50px;
  padding-top: 60px;
  padding-bottom: 20px;
  margin: 0;
}

.contact {
  background: #000;
  color: white;
  width: 100%;
  height: 650px;
}

.c-container {
  display: flex;
  justify-content: space-between;
  margin: 0 15%;
}

.c-inner-box {
  margin: 0 auto;
}

.c-ul-txt {
  list-style: none;
  padding: 0;
}

.c-txt-box {
  padding: 0;
}

.c-txt-li {
  list-style: none;
  line-height: 50px;
}

.c-input {
  width: 500px;
  height: 30px;
  background: #fff;
  border: none;
  border-radius: 5px;
  margin: 0 0 10px 0;
}

.c-text-area {
  width: 500px;
  height: 200px;
  background: #fff;
  border: none;
  border-radius: 5px;
  margin: 0 0 10px 0;
}

.c-dd {
  margin: 0;
}

.c-btn-box {
  text-align: center;
}

.c-btn {
  background: #000;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  padding: 10px 50px;
  transition: all 1s;

  &:hover {
    background: white;
    color: black;
    border: 1px solid #333;
  }
}

// タブレット
@media screen and (max-width: 768px) {
  .c-container {
    display: block;
    text-align: center;
  }

  .c-dt {
    text-align: left;
    width: 90px;
  }

  .c-dd {
    width: 260px;
  }

  .c-inner-box_A {
    margin: 0;
  }

  .c-input {
    width: 260px;
    height: 20px;
    background: #fff;
  }

  .c-text-area {
    margin: 0 0 10px 0;
    width: 260px;
    height: 90px;
  }
}
