#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  // background: #fff;
}

.h-title {
  margin-left: 106px;
  margin: 32px 0 22px 50px;
}

.h-ul {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.h-li {
  display: flex;
  align-items: center;
}
.h-a {
  text-decoration: none;
  color: #333;
  padding: 0 1em;

  &:hover {
    border-bottom: 1px solid #333;
  }
}

// タブレット 〜768px
@media screen and (max-width: 768px) {
  .h-title {
    margin-left: 20px;
  }
  .h-img {
    width: 140px;
  }

  .h-nav {
    display: none;
  }
}

// スマホM  〜375px
@media screen and (max-width: 375px) {
  .h-title {
    margin: 0 0 0 20px;
  }
  .h-img {
    width: 130px;
  }

  .h-nav {
    display: none;
  }
}

// Sp-humberger
///////////////////////////
