#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #fff;
}

.site-logo {
  margin-left: 106px;
}

.h-ul {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.h-li {
  display: flex;
  align-items: center;
}
.h-a {
  text-decoration: none;
  color: #333;
  padding: 0 1em;

  &:hover {
    border-bottom: 1px solid #333;
  }
}

// レスポンシブ対応
// 2560pxでスライドが見切れてしまっている。
// 1024pxでaboutのテキストが見切れている。、surviceの部分も狭そう　supportもデカすぎる　contact 狭すぎ
//

// タブレット
@media screen and (max-width: 768px) {
  .h-nav {
    display: none;
  }
}

// スマホ L
@media screen and (max-width: 425px) {
}

// Sp-humberger
///////////////////////////
