.side-scroll {
  align-items: center;
  display: flex;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  margin: 100px 0 0 0;
}

.side-scroll ul {
  animation: flowing-right 50s linear infinite;
  font-size: 20px;
  transform: translateX(100%);
  margin: 0;
  padding: 0;
}
.side-scroll ul li {
  display: inline-block;
  padding-right: 10px;
}
.side-scroll img {
  width: 200px;
  border-radius: 20px;
}

@keyframes flowing-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

//
.side-scroll_2 {
  align-items: center;
  //   color: #000000;
  display: flex;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  padding: 0 30px;
  margin-bottom: 80px;
}
.side-scroll_2 ul {
  animation: flowing-left 50s linear infinite;
  transform: translateX(100%);
  margin: 0;
  padding: 0;
}
.side-scroll_2 ul li {
  display: inline-block;
  padding-right: 10px;
}
.side-scroll_2 ul li img {
  width: 400px;
}
@keyframes flowing-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

// タブレット (~768)
@media screen and (max-width: 768px) {
  .side-scroll_2 ul li img {
    width: 300px;
  }
}
// モバイル（~425px）
@media screen and (max-width: 425px) {
}
//モバイル（~375px）
@media screen and (max-width: 375px) {
  .side-scroll_2 ul li img {
    width: 200px;
  }
}
