@charset "UTF-8";
@use "./header" as *;
@use "./mainvisual" as *;
@use "./txtanimation" as *;
@use "./contact" as *;
@use "./footer" as *;
@use "./about" as *;
@use "./slide" as *;

// common

html {
  scroll-behavior: smooth; //スクロールをゆる焼にする
}

.l-wrapper {
  overflow: hidden;
}

.l-inner-wrppaer {
  margin: 0 10%;
  overflow: hidden;
}

section {
  background: #ffff;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
  margin-top: 0;
}

.bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 200px;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: contain; // ←これがbgにできてる
}

.s-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s-img {
  margin: 20px;
  height: 178px;
  overflow: hidden;
}

// レスポンシブ対応

// タブレット
@media screen and (max-width: 768px) {
  .l-inner-wrppaer {
    margin: 0 10px;
    overflow: hidden;
  }
}

// スマホ L
@media screen and (max-width: 425px) {
}
