@charset "UTF-8";
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #fff;
}

.site-logo {
  margin-left: 106px;
}

.h-ul {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.h-li {
  display: flex;
  align-items: center;
}

.h-a {
  text-decoration: none;
  color: #333;
  padding: 0 1em;
}
.h-a:hover {
  border-bottom: 1px solid #333;
}

/* 複数画像切り替え---------------------------------------------- */
.slider-container {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.slideimg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-size: cover; /* 画像をスライド全体にカバー */
  animation: slideAnime 15s infinite; /* 15秒で1サイクル */
}

@keyframes slideAnime {
  0%, 30%, 100% {
    opacity: 0;
  } /* スライドの非表示タイミング */
  10%, 20% {
    opacity: 1;
  } /* スライドの表示タイミング */
}
/* 各スライドのアニメーションタイミングを均等にずらす */
.slideimg:nth-of-type(1) {
  background-image: url("../assets/img/fuji.jpg");
  animation-delay: 0s;
  background-position: 100%;
}

.slideimg:nth-of-type(2) {
  background-image: url("../assets/img/maiko.jpg");
  animation-delay: 3s;
  background-position: 10%;
}

.slideimg:nth-of-type(3) {
  background-image: url("../assets/img/torii.jpg");
  animation-delay: 6s;
  background-position: 0%;
}

.slideimg:nth-of-type(4) {
  background-image: url("../assets/img/fukei.jpg");
  animation-delay: 6s;
  background-position: 0%;
}

.slideimg:nth-of-type(5) {
  background-image: url("../assets/img/akari.jpg");
  animation-delay: 6s;
  background-position: 0%;
}

.bbs {
  align-items: center;
  display: flex;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  padding: 0 30px;
}

.bbs ul {
  animation: flowing-right 50s linear infinite;
  font-size: 20px;
  transform: translateX(100%);
  margin: 0;
  padding: 0;
}

.bbs ul li {
  display: inline-block;
  padding-right: 10px;
}

@keyframes flowing-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.bbs2 {
  align-items: center;
  color: #e20000;
  display: flex;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.bbs2 ul {
  animation: flowing-left 50s linear infinite;
  font-size: 20px;
  transform: translateX(100%);
  margin: 0;
  padding: 0;
}

.bbs2 ul li {
  display: inline-block;
  padding-right: 10px;
}

@keyframes flowing-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
#contact {
  background: #000;
  color: white;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
}

form {
  width: 400px;
}

footer {
  text-align: center;
  background: white;
  color: #333;
}

.a-box-left {
  margin-left: 10px;
  display: flex;
  gap: 100px;
  margin-top: 100px;
}

.a-box-right {
  margin-right: 10px;
  margin-top: 100px;
  display: flex;
  flex-direction: row-reverse;
  gap: 100px;
}

.a-img {
  width: 380px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.a-title {
  font-size: 30px;
  margin-bottom: 10px;
}

.a-p {
  margin-top: 0;
}

.slide {
  align-items: center;
  display: flex;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  margin: 100px 0;
}

.slide ul {
  animation: flowing-left 50s linear infinite;
  font-size: 20px;
  transform: translateX(100%);
  margin: 0;
  padding: 0;
}

.slide ul li {
  display: inline-block;
  padding-right: 10px;
}

.slide img {
  width: 200px;
  border-radius: 20px;
}

@keyframes flowing-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
section {
  background: white;
  padding: 0 200px;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
}

.bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 200px;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: contain;
}

.s-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s-img {
  margin: 20px;
  height: 178px;
  overflow: hidden;
}/*# sourceMappingURL=home.css.map */