@charset "UTF-8";
@use "./header" as *;
@use "./mainvisual" as *;
@use "./txtanimation" as *;
@use "./contact" as *;
@use "./footer" as *;
@use "./main" as *;
@use "./slide" as *;

// common

.l-inner-wrppaer {
  margin: 0 140px;
}

section {
  background: #ffff;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
}

.bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 200px;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: contain; // ←これがbgにできてる
}

.s-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s-img {
  margin: 20px;
  height: 178px;
  overflow: hidden;
}
